/*
  This file applies global CSS to all the components of this App.
*/

/* General CSS*/
a {
  text-decoration: none
}

/* CSS for logo */
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
  pointer-events: none;
  }
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

